$lego-yellow: rgb(255, 213, 2);
$lego-black: rgb(44, 44, 44);
$lego-blue: rgb(0, 90, 210);
$lego-pink: rgb(240, 49, 103);
$lego-green: rgb(0, 168, 67);
$lego-purple: rgb(134, 30, 227);
$lego-orange: rgb(233, 111, 20);
$white: #ffffff;
