@font-face {
  font-family: "Cera Pro";
  src: url("./src/assets/fonts/cera-pro-medium-normal-500-100.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("./src/assets/fonts/cera-pro-normal-400-100.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("./src/assets/fonts/cera-pro-normal-700-100.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Typewell";
  src: url("./src/assets/fonts/lego-typewell-normal-700-100.ttf")
    format("truetype");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
