@use "../../styles/partials/colors" as *;
@use "../../styles/partials/resets" as *;

.header {
}

.mainbar {
  background-color: $lego-yellow;

  &__wrapper {
    display: flex;
    padding: 0.5rem 1.875rem;
    margin: 0 auto;
    width: 100%;
    align-items: center;

    &--actions {
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: flex;
    margin-right: 4rem;
    cursor: pointer;

    &--img {
      width: 3.45rem;
    }
  }

  &__menu {
    display: flex;
    gap: 3.125rem;

    &item {
      font-weight: 600;
      border-bottom: 3px solid transparent;

      &:hover {
        border-bottom: 3px solid $lego-black;
      }
    }
  }
}
