.main {
  &-wrapper {
    display: flex;
    justify-content: center;
    height: calc(100vh - 12rem);
    background-size: 10%;
    background-image: url("../../assets/images/green-brick.png"),
      url("../../assets/images/red-brick.png"),
      url("../../assets/images/yellow-brick.png");
    background-repeat: no-repeat;
    background-position-x: 0px, 0%, 100%;
    background-position-y: 20px, 500px, 100%;

    &2 {
      height: calc(100vh - 12rem);
    }
  }
}
