.main {
  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-size: 10%;
    background-image: url("../../assets/images/green-brick.png"),
      url("../../assets/images/mag-glass.png"),
      url("../../assets/images/red-brick.png"),
      url("../../assets/images/yellow-brick.png");
    background-repeat: no-repeat;
    background-position-x: 0px, 100%, 20px, 100%;
    background-position-y: 20px, 32px, 100%, 100%;
  }
}
